---
layout: archive
title: "Publications"
<!-- permalink: /publications/ -->
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com.hk/citations?user=dXxc9DUAAAAJ&hl=zh-CN}}">my Google Scholar profile</a>.</div>
{% endif %}

<li>
  <p>   
      <b>Accurate whole-brain segmentation for bimodal PET/MR images via a cross-attention mechanism </b> [<a href="https://ieeexplore.ieee.org/document/10556684" class=link>Link</a>]
      <br> 
      <b>Wenbo Li#</b>, Zhenxing Huang#, Qiyang Zhang#, Na Zhang, Wenjie Zhao, Yaping Wu, Jianmin Yuan, Yang Yang, Yan Zhang, Yongfeng Yang, Hairong Zheng, Dong Liang, Meiyun Wang*, Zhanli Hu* <br>
      <i>IEEE Transactions on Radiation and Plasma Medical Sciences</i> Online, 2024.
      <br>
  </p>
</li>


<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->