---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com.hk/citations?user=dXxc9DUAAAAJ&hl=zh-CN}}">my Google Scholar profile</a>.</div>
{% endif %}


{% include base_path %}

New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<ul>
  <li>
    <strong>Learning CT-free attenuation-corrected total-body PET images through deep learning</strong>
    <a href="https://link.springer.com/article/10.1007/s00330-024-10647-1">[Links]</a>
    <br>
    Wenbo Li<sup>#</sup>, Zhenxing Huang<sup>#</sup>, Zixiang Chen, Yongluo Jiang, Chao Zhou, Xu Zhang, Wei Fan, Yumo Zhao, Lulu Zhang, Liwen Wan, Yongfeng Yang, Hairong Zheng, Dong Liang, Zhanli Hu*.
    <br>
    <em>European Radiology</em> 34: 5578-5587, 2024.
  </li>
</ul>
